.homeSection3{
  margin: 0 1rem 5rem 1rem;
}
.container {
  background: #055d8dd5;
  max-width: 100%;
  overflow: hidden;
  padding: 20px 0px;
  border-radius: 2rem;
}

.text-box {
  max-width: 100%;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.text-box h1 {
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
}

.text-box p{
  font-size: 1.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.main-card {
  height: 29rem;
}

.card {
  width: 90%;
  height: 22rem;
  margin: 3rem 2rem;
  display: flex;
  background: #ffffff;
  border-radius: 0.3rem;
  position: relative;
}

.card .img {
  position: absolute;
  width: 192px;
  height: 180px;
  top: 1.5rem;
  left: 3.6rem;
}
.card .img img {
  width: 100%;
}

.course-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 13rem;
}

.course-name {
  font-weight: bold;
}

.footer-div{
  width: 100%;
  position: absolute;
  bottom: 0rem;
  display: flex;
  border-top: 1px solid #CACACA;
}

.duration{
  width: 50%;
  text-align: center;
  padding: .5rem;
  border-right: 1px solid #CACACA;
  cursor: text;
  color: #8F8F8F;
}

.know-more{
  width: 50%;
  text-align: center;
  padding: .5rem;
  cursor: pointer;
  color: #005A8C;
}


